
#home{
    width: 100%;
    height: 500px;
    background-color: rgb(2, 2, 159);
    border-bottom-right-radius:200px ;
    border-bottom-left-radius: 200px;
}

.home-content{
    text-align: center;
    font-weight: bold;
    font-size: large;
    color:white;
    font-size: 28px;
    position: relative;
    top: 100px;

}
h2{
    color: rgb(252, 175, 31);
    font-size: 38px;
    line-height: 70px;
}
.content-text{
    font-size: 22px;
}
.btn-explore{
    width: 300px;
    height: 40px;
    font-size: 18px;
    background-color: rgb(231, 160, 28);
    border-radius: 10px;
    
}
.home-pic{
    float: right;
    margin: 30px 100px;
    position: relative;
    animation: saravanan 2s infinite;
}
@keyframes saravanan {
    0%{top: 10px;}
    100%{top: 0px;}
    
}
.home-pic-two{
    float: right;
    margin-right: -600px;
    opacity: .4;

}
hr{
    width: 100%;
    color: white;
}


#section1{
    margin:auto;
    padding: 15px;
    color: white;
    font-size: 28px;
    width: 60%;
    height: auto;
    background-color: rgb(0, 0, 90);
    border-radius: 10px;
    /* box-shadow: 10px -10px  rgb(0, 0, 90); */
}

.flex{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    color: rgb(155, 153, 153);
    font-size: 18px;
}

.section2{
    width: 70%;
    margin: auto;
    padding: 20px;
    font-size: 18px;
    color: white;
    /* background-color: aqua; */
}
.section-flex{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    /* background-color: black; */
    justify-content:center;
}
.section-child{
    position: relative;
    top: 0px;
    border-radius: 10px;
    margin: 2px;
    width: 150px;
    height: 500px;
    /* background-color: brown; */
}
.img-size{
   display: none;
    width: 100px;
    height: 200px;
    margin-left: -20px;
    position: relative;
    top: -130px;
}
.section-child:hover .img-size{
    /* margin-top: -120px; */
    margin-left: 120px;
  display: initial;

}
 .one{
    background-color: rgb(152, 52, 245);
   
    
}
.two{
    background-color: rgb(101, 4, 191);
}
.three{
    background-color: rgb(67, 4, 127);
}
.four{
    background-color: blue;
}
.five{
    background-color: rgb(3, 3, 158);
} 
.section-child:hover  ,.hover-display:hover {
   
    width: 400px;

}
.section-child:hover .hover-display{
    opacity: 1;
    transition:  linear .3s;
}

.hover-display{
    padding: 10px;
    margin: 5px;
    font-size: 16px;
    opacity: 0;   
}
.hover-display-content{
   
    font-size: 14px;
    margin: 15px;
    padding: 5px;  
}

.align-name{
   
    margin-left: -140px;
    padding: 5px;
}
.hover-display-img{
   
    margin-left: -140px;
}

@media (min-width:1260px) and (max-width:1350px){
    .section-child{ 
        margin: 2px;
        width: 250px;
        height: 500px;
    }
    .img-size{
        display: none;
    }
    .section2{
        width: 100%;  
    }
}
@media (min-width:1100px) and (max-width:1250px){

    .section2{
        width: 100%;  
    }
    .section-flex{
       margin-top: 100px;
        display: flex;
        flex-wrap: wrap;
      
    }
    .section-child{ 
        margin: 2px;
        width: 300px;
        height: 500px;
    }
    .img-size{
        display: none;
    }
    .section-child:hover  ,.hover-display:hover  {
        width: 400px;
       
    
    }
   

}

@media (min-width:900px) and (max-width:1100px){
    .section-child{ 
        margin: 2px;
        width: 250px;
        height: 450px;
    }
    .img-size{
        display: none;
    }
    .section2{
        width: 100%;  
    }
}
@media (max-width:480px) {
    #home{
        height: 1000px;
    }
    .home-content{
        position: relative;
        top: -230px;
        z-index: 1;    
    }
    .home-pic-two{
      display: none;
         
    }
    .home-pic{
       left: 0px;
        top: 380px; 
        width: 350px;
        margin-right:0px;
        animation: none;
    }
    #section1{
       margin: auto;
        position: relative;
        top: 100px;
        padding: 5px;
        width: 80%;
       
    }
    .section2{
        width: 80%;  
    }
    .ma{
    position: relative;
    top: 100px;
    }
    .section-flex{
       margin-top: 100px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        /* justify-content: center; */
    }
    .section-child{ 
        margin: 2px;
        width: 300px;
        height: 300px;
    }
    .img-size{
   display: none;
        width: 100px;
        margin-left: -20px;
        position: absolute;
        top: 100px;
    }
    .section-child:hover  ,.hover-display:hover {
        width: 300px;
        height: 500px;  
    
    }
   

    
}

/* section3 */

#section3{
    width: 100%;
    height: 300px;
    color: white;
    margin-top: 20px;
    text-align: center;
    background-color: rgba(7, 7, 112, 0.897);
}
.child-child1{
    margin-top: 50px;
}
.child-child{
    position: relative;
    left: -40px;
}
.div-one{
    position: absolute;
    left: -100px;
}
.div-two{
    position: absolute;
    left: -40px;
}
.div-three{
    position: absolute;
    top: -250px;
    left: 40px;
}
.div-four{
    position: absolute;
    top: -250px;
    left: 100px;
}



#hexagon {
    width: 120px;
    height: 57.735px;
    background:rgb(131, 131, 238);
    margin: 60px;
    position: relative;
  }
  #hexagon::before {
    content: "";
    position: absolute;
    top: -28.8675px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 60px solid transparent;
    border-right: 60px solid transparent;
    border-bottom: 28.8675px solid rgb(131, 131, 238);
  }
  #hexagon::after {
    content: "";
    position: absolute;
    bottom: -28.8675px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 60px solid transparent;
    border-right: 60px solid transparent;
    border-top: 28.8675px solid rgb(131, 131, 238);
  }
  .b{
    position: absolute;
    left: 25px;
    top: -10px;
    font-size: 28px;
  }
  .text-size{
    position: absolute;
    left: 10px;
    top: 25px;
    font-size: 12px;
  }



  


/* Section4 */
  #Section4{
    width: 70%;
    margin: auto;

  }
  .image-flex{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .image-flex div{
    margin: 20px;
  }

  /* section5 */
  #section5{
    margin-top: 20px;
    width: auto;
    height: auto;
    background-color: rgb(211, 218, 223);
  }
  .rating{
    width: 80%;
    height: auto;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    color: white;
   
  }
  .rating-child{
    width: 300px;
    height: 200px;
    background-color: rgb(3, 3, 149);
    color: white;
    border-radius: 10px;
    margin-top: 40px;
  }
  .home-render{
    width: 70%;
    height: auto;
    margin: auto;
    background-color: rgb(250, 251, 252);
  }
  .home-render-comp{
    margin-top: 100px;
  }

  .home-render-flex{
    background-color:whitesmoke;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
 
 


  /* section6 */
  #section6{
    padding-top: 50px;
    width: 60%;
    height: auto;
    margin: auto;
    
  }
.section6-flex{
   
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    /* width: 100%;
    height: auto; */
}

.section6-child{
    margin: 10px;
    padding: 20px;
    width: 30%;
    /* border: 1px solid black; */

}
.section6-child p {
    margin: 10px;
    padding: 4px;
    line-height: 20px;
    font-size: 16px;

}
.section6-child p i{
    position: relative;
    left: 20px;
    top: -10px;
}
.section6-child:hover{
     border: 1px solid black;
    border-radius: 10px;

}
.section6-child:hover .p{
   
    color: tomato;

}

.section6-second{
    padding-top: 50px;
    width: 60%;
    height: auto;
    margin: auto;
    text-align: left;

}

.section6-second-flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.section6-second-child{
    width: 35%;
    border: 1px solid black;
    border-radius: 10px;
    margin: 10px;
    position: relative;
}

.section6-second-child div{
    background-color: aliceblue;
    text-align: left;
    padding: 5px;
    

}
.section6-second-child div img{
    position: absolute;
    top: 25px;
    left: 240px;
}
.section6-second-child  p{
    margin: 10px;
    padding: 2px;

}


#Section7{
    width: 70%;
    padding: 10px;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    background-color: whitesmoke;
   
}

.Section7-child{
    margin: 10px;
    padding: 30px;
    width: 400px;
}

.photo{
    margin: 10px;
    padding: 10px;
    position: relative;
    left: 0px;
}
.colors{
    background-color: white;
    border-radius: 10px;
}
.picss{
    position: absolute;
    left: -20px;
}


  /* Footer */
  
#Footer-main-container-body{
    background-color:rgb(5, 41, 71);
    /* margin-top: 10%; */
    flex-wrap: wrap;
    display: flex;
    justify-content: space-evenly;
    padding: 50px;
    row-gap: 5px;
}
.footer-phone-email{
    display: flex;
    align-items: center;
}
.title-footer{
    font-size: 18px;
    font-weight: 600;
}
#sub-container-footer{
    color: black;
    padding: 3% 6%;
    font-size: 12px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.head-footer-link{
    font-size: 18px;
    font-weight: 700;
}
.hover-effect-border:hover{
    color: orangered;
    border: 1px solid orangered;
    border-top-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
}
.payment-neetchae-least-end{
    display: flex;
    color: black;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 5%;
}
.just-payment-top-position{
    position: relative;
    bottom: 10px;
}



/* sdfghmngbfvdcdvbn */

.home-render{
    width: 70%;
    height: auto;
    margin: auto;
    margin-top: 40px;  
    background-color: rgb(250, 251, 252);
  }
  /* .home-render-comp{
    margin-top: 100px;
  }

  .home-render-flex{
    background-color:whitesmoke;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  } */
 
#sub-nav-fourth-Page{
    width: auto;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    /* align-items: center; */
    background-color: whitesmoke;
    padding: 10px 20px;
    margin-top: 30px;
    /* box-shadow: 1px 1px 5px black; */
}
.hover-effect-child1:hover{
    border: 2px solid transparent;
    color: rgba(51, 0, 255, 0.845);
}
.hover-effect-child1{
      background-color:wheat;
      font-size: 16px;
      border: none;
  }

  #container-fourth-page-nav-click-content{
    display: flex;
    justify-content: space-evenly;
    padding: 3% 8%;
    /* flex-wrap: wrap; */
 }
 .parent-fourth-page-sublim,.child-fourth-page-sublim{
     display: flex;
     text-align: left;
     align-items:left;
 }
 .child-fourth-page-sublim{
     flex-direction: column;
     
 }
 .child-fourth-page-font-big{
     font-size: 36px;
     font-weight: 700;
 }
 .short-width-fourth-page{
     font-size: medium;
     width: 150px;
 }
 .sub-container-4-page-click{
     text-align: left;
 }
 .a4-page-one{
     font-size: 22px;
     font-weight: 600;
     color: rgb(247, 168, 23);
 }
 .a4-page-two{
     font-size: 24px;
     font-weight: 600;
     margin:3% 0%;
 }
 .a4-page-three{
     font-size: 14px;
 }
 .a4-page-four{
     display: flex;
     justify-content: flex-start;
     align-items: center;
 }



@media (min-width:1100px) and (max-width:1300px){
    #img-fourth-page-slide-part{
        width: 300px;
        /* position: relative;
        top: 0px;
        left: -400px; */
        opacity: 1;
    }
}
@media (min-width:900px) and (max-width:1100px){
    #img-fourth-page-slide-part{
        width: 300px;
        /* position: relative;
        top: 0px;
        left: -400px; */
        opacity: 1;
    }
    .home-render{
        width: 100%;
      
      }
}

@media (max-width:480px) {
    .home-render{
        width: 100%;
      
      }
      #sub-nav-fourth-Page{
        width: auto; 
        justify-content: space-evenly; 
        padding: 0px;
        margin: 10px;
        
    }
    .hover-effect-child1{
        border: none;
        background-color:wheat;
        padding: 5px;
        margin: 3px;
        font-size: 12px;
    }
    #container-fourth-page-nav-click-content{
        
        margin: 10px;
        justify-content: start;
        padding: 0px;
     }
     .parent-fourth-page-sublim,.child-fourth-page-sublim{  
        width: 400px;
        text-align: center;
        align-items:center;
    }
  
    .child-fourth-page-font-big{
        font-size: 22px;
        font-weight: 700;
    }
    #img-fourth-page-slide-part{
        width: 300px;
        position: relative;
        top: 0px;
        left: -400px;
        opacity: .2;
    }
   




    #home{
        height: 1000px;
    }
    .home-content{
        position: relative;
        top: -300px; 
 
    }
    .home-pic-two{
      display: none;
         
    }
    .home-pic{
       left: 0px;
        top: 350px; 
        width: 350px;
        margin-right:0px;
        animation: none;
    }
    #section1{
       margin: auto;
        position: relative;
        top: 100px;
        padding: 5px;
        width: 80%;
       
    }
    .section2{
        width: 80%;  
    }
    .ma{
    position: relative;
    top: 100px;
    }
    .section-flex{
       margin-top: 100px;
       margin-left: -30px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .section-child{ 
        margin: 2px;
        width: 300px;
        height: 300px;
    }
    .img-size{
        display: none;
        width: 100px;
        margin-left: -20px;
        position: absolute;
        top: 100px;
    }
    .section-child:hover  ,.hover-display:hover {
        width: 300px;
        height: 500px;  
    
    }
    /* 4 */
    #section3{
        height: 500px;
       
    }
    .div-one{
        left: -80px;
    }
    .div-three{
        left: 60px;
    }
    

    #section6{
        width: 80%;  
      }
      .section6-child{
        margin: 2px;
        padding: 0px;
        width: 40%; 
    }
    .section6-child p {
        margin: 5px;
    
    }
    .section6-second{
        padding-top: 20px;
        width: 80%;
       
    
    }
    .section6-second-child{
        width: 100%;
       
    }
    .section6-second-child div img{
        position: absolute;
        top: 25px;
        left: 215px;
    }
    #Section7{
        width: 90%;  
    }
    .picss{
        position: absolute;
        left: -50px;
    } 
   
}

@media (min-width:500px) and (max-width:900px) {

    
    .home-render{
        width: 100%;
      
      }
      #sub-nav-fourth-Page{
        width: auto; 
        justify-content: space-evenly; 
        padding: 0px;
        margin: 10px;
        
    }
    .hover-effect-child1{
        border: none;
        background-color:wheat;
        padding: 5px;
        margin: 3px;
        font-size: 12px;
    }
    #container-fourth-page-nav-click-content{
        
        margin: 10px;
        justify-content: start;
        padding: 0px;
     }
     .parent-fourth-page-sublim,.child-fourth-page-sublim{  
        width: 400px;
        text-align: center;
        align-items:center;
    }
  
    .child-fourth-page-font-big{
        font-size: 22px;
        font-weight: 700;
    }
    #img-fourth-page-slide-part{
        width: 300px;
        position: relative;
        top: 0px;
        left: 0px;
        opacity: .2;
    }
   
    .home-content{
        position: absolute;
        width: 400px;
        top: 100px;
        left: 50px;
        text-align: left;
        
    }
    .home-pic-two{
       display: none;
           
      }
      .home-pic{
        left: 0px;
         top: 0px; 
         width: 350px;
         margin-right:10px;
        
     }
     .img-size{
        display: none;
        width: 100px;
        margin-left: -20px;
        position: absolute;
        top: 100px;
    }
    .section-flex{
        
        margin-top: 0px;
        margin-left: 0px;
        
     }
     .section-child{ 
         margin: 10px;
         width: 200px;
         height: 420px;
     }
     .section2{
        width: 100%;  
    }
    #section1{  
        width: 80%;
       
    }
   
    .child-child1{
        margin-top: 50px;
        width: 40%;
    }

    /* #section6{
        width: 80%;  
      } */
      .section6-child{
        margin: 2px;
        padding: 0px;
        width: 40%; 
    }
   
    .section6-second{
        padding-top: 20px;
        width: 60%;
        text-align: center;
       
    
    }
    .section6-second-child{
        width: 100%;
       
    }
    .section6-second-child div img{
        position: absolute;
        top: 10px;
        left: 305px;
    }
    #Section7{
        width: 90%;  
    }
    .picss{
        position: absolute;
        left: -50px;
    } 
     
#Footer-main-container-body{
  
    margin-top: 180px;
   
}
}
